.banner {
    padding: 70px 0;
    display: flex;
}

.left {
    width: 60%;
}

.bgProfile {
    width: 100%;
}

.right {
    width: 40%;
}


.title {
    font-size: calc(12px + 4vw);
}

.contact{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 8px;
    background-color: #3e6ff4;
    transition: all 0.5s;
    border: 1px solid transparent;
}

.contact:hover {
    background-color: transparent;
    border-color: #3e6ff4;
    color: #212121;
}